@font-face {
    font-family: 'icomoon';
    src:  url('../lib/fonts/icomoon.eot?8f4q7w');
    src:  url('../lib/fonts/icomoon.eot?8f4q7w#iefix') format('embedded-opentype'),
    url('../lib/fonts/icomoon.ttf?8f4q7w') format('truetype'),
    url('../lib/fonts/icomoon.woff?8f4q7w') format('woff'),
    url('../lib/fonts/icomoon.svg?8f4q7w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dianying .path1:before {
    content: "\e900";

}
.icon-dianying .path2:before {
    content: "\e901";
    margin-left: -1em;

}
.icon-yingyuan .path1:before {
    content: "\e902";

}
.icon-yingyuan .path2:before {
    content: "\e903";
    margin-left: -1em;

}
.icon-wode .path1:before {
    content: "\e904";

}
.icon-wode .path2:before {
    content: "\e905";
    margin-left: -1em;

}